<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/admin">
        Dashboard
      </a>
    </li>
    <li class="breadcrumb-item active">
      Posts
    </li>
  </ol>
  <div class="row">
    <div class="col-12">
      <h1>
        Posts
      </h1>
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>
              Id
            </th>
            <th>
              File
            </th>
            <th>
              Title
            </th>
            <th>
              Status
            </th>
            <th>
              Category
            </th>
            <th>
              Author
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each posts}}
            <tr>
              <td width="5%">
                {{postId}}
              </td>
              <td width="10%">
                <img
                  class="img-thumbnail"
                  style="width: 75px;height:75px"
                  src="/uploads/{{file}}"
                  alt=""
                />
              </td>
              <td>
                <a href="/post/{{postId}}" target="_blank">
                  {{title}}
                </a>
              </td>
              <td width="5%">
                {{status}}
              </td>
              <td width="5%">
                {{category.name}}
              </td>
              <td width="5%">
                {{user.email}}
              </td>
              <td width="10%">
                <a href="/admin/posts/edit/{{id}}">
                  <i class="fa fa-edit"></i>
                </a>
                <form
                  action="/admin/posts/{{id}}?_method=DELETE"
                  method="POST"
                  style="all: unset;"
                >
                  <button type="submit" style="all: unset;cursor:pointer">
                    <i class="fa fa-trash text-danger"></i>
                  </button>
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>