<!-- Post Content Column -->
<div class="col-lg-8">
  <!-- Title -->
  <h1 class="mt-4">
    {{post.title}}
  </h1>

  <!-- Author -->
  <p class="lead">
    by
    <a href="#">
      Start Bootstrap
    </a>
  </p>

  <hr />

  <!-- Date/Time -->
  <p>
    Posted on {{genTime post.date "MMMM Do YYYY , h:mm:ss a"}}
  </p>

  <hr />

  <!-- Preview Image -->
  <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="" />

  <hr />

  <!-- Post Content -->
  <p class="lead" data-content="{{post.body}}">
  </p>
  <script>
    $(function () {
      document.querySelectorAll('[data-content]').forEach((post) => {
        post.innerHTML = post.getAttribute('data-content');
      })
    })
  </script>
  <hr />

  <!-- Comments Form -->
  <div class="card my-4">
    <h5 class="card-header">
      Leave a Comment:
    </h5>
    <div class="card-body">
      <form action="/admin/comments" method="POST">
        <div class="form-group">
          <textarea name="body" class="form-control" rows="3"></textarea>
          <input type="hidden" name="id" value="{{post._id}}">
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>
  </div>

  <!-- Single Comment -->
  {{#each post.comments}}
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="" />
    <div class="media-body">
      <h5 class="mt-0">
        Commenter Name
      </h5>
      {{this}}
    </div>
  </div>
  {{/each}}
</div>

{{> home/sidebar}}