<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a href="/admin/users">
                Users
            </a>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h1>
                Users
            </h1>
        </div>
        <div class="col-md-12 form-group" style="margin-top: 50px;">
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th>id</th>
                        <th>Email</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    {{#each users}}
                    <form action="/admin/users/edit/{{_id}}?_method=PATCH" method="POST" style="all: unset;">
                        <tr>
                            <td>{{_id}}</td>
                            <td>{{email}}</td>
                            <td>
                                <script>
                                    $(function () {
                                        $('[user-id="{{_id}}"]').val('{{type.type}}')
                                    })
                                </script>
                                <select name="type" user-id="{{_id}}" class="form-control">
                                    {{#each ../userTypes}}
                                    <option value="{{type}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <button type="submit" style="all: unset;cursor:pointer"
                                    onclick="confirm('Are you sure?')">
                                    <i class="fa fa-check text-success"></i>
                                </button>
                            </td>
                        </tr>
                    </form>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>